html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

.sortable.list {
    min-height: 35px;
}

.step-labels ul {
    padding: 0;
    list-style-type: none;
}

.step-labels ul li {
    display: inline-block;
    margin-right: 20px;
}

.step-labels ul li.active .label-text {
    color: #00acac;
}

.step h3 {
    text-align: center;
}

.equipment-table table {
    width: 100%;
}

.equipment-table > tbody > tr > td {
    border: 1px solid #002a80 !important;
    padding: 3px 3px !important;
}

.equipment-table > thead > tr > th {
    border: 1px solid #002a80 !important;
    padding: 3px 3px !important;
    text-align: center;
}

.select2-selection__rendered, .select2-search, .select2-search__field {
    width: 100% !important;
}

/* Форма заказа*/
.order-steps {
    display: flex;
    justify-content: space-around;
}

.order-steps.col-sm-1 {
    display: flex !important;
}

.step {
    display: inherit;
    align-items: baseline;
}

p.step-label {
    margin: 0 10px;
}

a.step-num, a.step-num:focus {
    color: #dedede;
    display: flex;
    border: 1px solid;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

a.step-num:hover {
    text-decoration: none;
    background-color: lightgrey;
    color: grey;
}

a.step-num.active {
    background-color: white;
    color: black;
}

.del-ing a,
.del-ing {
    color: red;
    top: 0;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    font-style: normal;
}